#box1{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}

#box2{
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
}

#box3{
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
}

#box4{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
}


